.anime-template{
    width: 127px;;
    display: block;
    background: #fff;
    padding: 6px;
    margin-bottom: 12px;
    position: relative;
    border: 1px solid grey;
}
.grid{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.anime-img{
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}


