.anime-template{
    width: 151px;;
    display: block;
    background: #fff;
    padding: 12px;
    // margin-bottom: 12px;
    position: relative;
    border: 1px solid grey;
    box-sizing: border-box;
    box-shadow: 0 0 0.5rem lightgrey;
}
.anime-item-title{
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.show-title-link{
    text-decoration: none;
    color: #3f3f3f;
}
.grid{
    display: grid;
    // width: 75%;
    grid-template-columns: repeat(4, 151px);
    gap: 12px;
}

.anime-img{
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}

.anime-hover-wrapper{
    z-index: 1;
    background: rgb(75, 75, 75);
    color: white;
    padding: 10px 12px;
    position: absolute;
    width: 260px;
    height: 150px;
    left: 163px;
    top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.anime-hover-description{
    width: 100%;
    height: 102px;
    font-size: 14px;
    line-height: 1.25;
   text-overflow: ellipsis;
    // white-space: wrap;
    overflow: hidden;
}

.anime-hover-header{
    width: 100%;
    height: 16px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.library {
    background-color: 	#F5F5F5;
    margin-left: 10px;
    display: flex;
    justify-content: center;
  }

  .bookmark-button-container  {
    display: flex;
    // justify-content: center;
    // margin-left: 5px;
  }
  .bookmark-button-container button {
    // display: flex;
    justify-content: center;
    // margin-left: 22.5px;
  }
  
  .is-bookmarked {
    display: flex;
  justify-content: center;
    background-color: rgb(38, 34, 34); 
    // background-color: orange; 
    border: none;
    color: white;
    padding: 5px 6px;
    text-align: center;
    text-decoration: none;
    // display: inline-block;
      margin-left: 20px;

    font-size: 14px;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.is-bookmarked:hover {
  background-color: orange; 
  color: white;
  // padding: 12px 20px;
  // transition-duration: 0.4s;
}

.not-bookmarked {
  display: flex;
      justify-content: center;
  background-color: orange; 
  border: none;
  color: white;
  padding: 5px 6px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  margin-left: 26px;
  font-size: 14px;
  border-radius: 12px;
  transition-duration: 0.4s;

}

.not-bookmarked:hover{
  background-color: rgb(38, 34, 34); 
  color: white;
  // padding: 12px 20px;
  // transition-duration: 0.4s;
}