.anime-show{
    // width: 25%;;
    display: block;
    background: #fff;
    padding: 12px;
    margin-bottom: 12px;
    position: relative;
    border: 1px solid grey;
    max-width: 309px;
    // float: right;
}

.anime-show-img{
    width: 310px;
    height: 463px;
    left: 0px;
    right: 0px;
}

.full-show{
    display: flex;
    justify-content: center;
}

.anime-show-ep{
    // float: right;
    margin-right: 10px;
}







