// .episode-vid{
//     width: 100%;
//     max-height: 360;
//     object-fit: cover;
//     // z-index: -100;
// }

.video-wrapper {
    height:360px;
    width:640px;
    // overflow:hidden;
}
.video-wrapper > video {
    max-width: 100%;
    max-height: 100%;
}