// entire nav bar that is rendered
.nav{
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 0.5rem lightgrey;
    flex-direction: row;
    justify-content:  center;
    // text-decoration: none;
     // justify-content: space-between;
    height: 70px;
    color: #3f3f3f;
}

// the Soggyroll title
.header-link{
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header-link:link{
    color: #f78c25;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-link:visited{
    color: #f78c25;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-link:hover{
    color: #f78c25;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-link:active{
    color: #f78c25;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// navbar elements
.nav-elements {
    display: flex;
    justify-content: center;
    margin-top: 17px;
    text-align: center;
    margin-left: 40px
}

.nav-elements ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin-right: 10px;
}
.nav-elements li {
    // display: flex;
    float: right;
    margin-right: 50px;
    // background-color: #f78c25;
    // border-color: #b78142;
    color: rgb(100%,100%,100%);
    border: 0;
    border-bottom: .125em solid;
    border-radius: .5625em;
    font-weight: 500;
    line-height: 1.5;
    // width: 75px;
    text-align: center;
    // text-decoration: none;
    text-transform: uppercase;
}

// navbar links 
.nav-anime-link{
    text-decoration: none;
    color: #3f3f3f;
}

.nav-bookmark-link{
    text-decoration: none;
    color: #3f3f3f;
}

.nav-anime-link:visited{
    text-decoration: none;
    color: #3f3f3f;
}

.nav-bookmark-link:visited{
    text-decoration: none;
    color: #3f3f3f;
}
.nav-anime-link:hover{
    color: #f78c25;
}

.nav-bookmark-link:hover{
    color: #f78c25;
}

.nav-link:link{
    // color: rgb(100%,100%,100%);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    // font-weight: bold;
    text-decoration: none;
    color: #3f3f3f;
}
.nav-link:visited{
    // color: rgb(100%,100%,100%);
    text-decoration: none;
        // font-weight: bold;
        text-decoration: none;
    color: #3f3f3f;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav-link:hover{
    // color: rgb(100%,100%,100%);
    text-decoration: none;
    color: #f78c25;
    text-decoration: none;
        // font-weight: bold;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav-link:active{
    color: rgb(100%,100%,100%);
    text-decoration: none;
        // font-weight: bold;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// nav button
.nav-button{
    box-sizing: border-box;
    display: flex;
    // margin: 0 auto 1.5em auto;
    // max-width: none;
    // padding: 1.35em 2em;
    margin-top: 2px;
    // width: 100%;
    // border: 0;
    // border-bottom: .125em solid;
    // border-radius: .5625em;
    font-size: 16px;
    font-weight: 500;
    // line-height: 1.25;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    // background-color: #f78c25;
    // border-color: #b78142;
    // color: rgb(100%,100%,100%);
    // cursor: pointer;
    // justify-content: space-evenly;
    margin-right: 50px;
background: none!important;
  border: none;
  padding: 0!important;
    color: #3f3f3f;
  cursor: pointer;
}

.nav-button:hover{
    color: #f78c25;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
// seach
.search{
    display: flex;
    height: 17px;
    margin-right: 10px;
}

.search button{
    margin-top: 2px;
}

.search-container{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.results-container {
    position: absolute;
    overflow-y: scroll;
    background-color:  #3f3f3f;
;
    // color: #3f3f3f;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
    z-index: 1;
    text-decoration: none;
    margin-top: 35px;
    // border: 1px solid grey;
    box-sizing: border-box;
    box-shadow: 0 0 0.5rem lightgrey
}
.results-item img{
    height: 25px;
    margin-right: 5px;
}

.results-item{
    text-decoration: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.results-item:hover{
    color: #f78c25;
}
.result-link{
    text-decoration: none;
    // color: #3f3f3f;
    color: white;
}
.result-link:visited{
    text-decoration: none;
    
    // border-top: 1px solid black;
}